@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --accent-color: #7f4829;
  --accent-color2: #4a4a4a;
  --base-color: #e3e3e3;
  --text-color: #000000;
  --input-color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

.wrapper {
  background-color: var(--base-color);
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 1000;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 6rem;
}

form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--input-color);
}

form input:hover {
  border: 3px solid var(--text-color);
  border-left: none;
}

form input:focus {
  outline: none;
  border: 3px solid var(--text-color);
  border-left: none;
}

div:has(input:hover) > label {
  background-color: var(--text-color);
  border: 3px solid var(--text-color);
  border-right: none;
}

div:has(input:focus) > label {
  border: 3px solid var(--text-color);
  border-right: none;
}

form button {
  width: 100%;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 200px;
  cursor: pointer;
  transition: background-color 150ms ease;
  margin-top: 20px;
}

form button:hover {
  background-color: var(--text-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}

form div.incorrect label {
background-color: rgb(250, 81, 81);

  border: solid;
  border-color: rgb(250, 81, 81);
  border-right: 0;
}

form div.incorrect input {
  border: solid;
  border-color: rgb(250, 81, 81);
  border-left: 0;}

#error-message {
  color: rgb(254, 58, 58);
}